# Environment Variables
.env
.env.local
.env.*.local

# Discloud
discloud/
discloud.config
.discloudignore

# Database
*.db
*.db-shm
*.db-wal

# Build Output
bin/
dist/
tmp/

# Runtime & Process
.bot.pid
*.log
*cache/
*tracks/
*.opus
*.part

# Testing
*.test
*.out
coverage.txt
coverage.html
*.coverprofile
*.old
tmp/
.tmp/
.backups/
.bck/
.air.toml
kokoro
backup
*.sh
*.txt
.BACKUP.go
*.bak

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
