# environment variables
.env
.env.local
.env.*.local

# database
*.db
*.db-shm
*.db-wal

# runtime
.bot.pid
*.log
*cache/
*tracks/
*.opus
*.part

# testing
*.old
.bck/
*.bak

# go
*.exe
*.exe~

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store